%p{:style=>"text-indent:15px;"}
  Pe 21 martie se sarbatoreste Ziua internationala pentru eliminarea discriminarii rasiale. Organizatia Natiunilor Unite a ales aceasta zi, ce comemoreaza omorarea de catre politie a 69 de demonstranti pasnici impotriva regimului de apartheid in Africa de Sud in 1960, pentru a ne incuraja sa luptam impotriva discriminarii rasiale sub toate formele sale. Mai multe informatii gasiti aici.
%p{:style=>"text-indent:15px;"}
  In acest sens, CNER Alumni in colaborare cu ARDOR Transilvania (cluburile de debate din Colegiul National "Emil Racovita" si din Liceul Teoretic "Nicolae Balcescu") si Fundatia Noi Orizonturi Cluj va invita la o dezbatere demonstrativa, urmata de o discutie, pe motiunea:
  %div{:style=>"margin-left:15px;"}
    %span{:style=>"font-weight:bold"}
      "Acest Parlament ar elimina discriminarea pozitiva ca masura de combatere a rasismului"
    %br
    Evenimentul va avea loc LUNI (21 martie), ORA 14:15, in SALA FESTIVA a Colegiului National "Emil Racovita"
    %br
    (str. Mihail Kogalniceanu 9-11, etaj 1)
%br
%p{:style=>"text-indent:15px;"}
  Intre invitati se vor numara si membri ai societatii civile locale cu activitati in domeniu. Va asteptam intr-un numar cat mai mare!
%br
%p{:style=>"text-indent:15px;"}
  Va rugam transmiteti acest mesaj tuturor celor potential interesati. Va multumim. 
