%h3 
	Dragi racovitisti,
%br
%div{:style => "font-size:14px; text-indent:15px;"}
	Cu ocazia zilelor CNER 2010, platforma electronica CNER Alumni a fost relansata, ea gasindu-se la adresa http://alumni.e-racovita.ro.
%div{:style => "font-size:14px; text-indent:15px;"}
	Aceasta dispune de un sistem de autentificare care va va permite sa va logati cu adresa de email si o parola. Pentru cei inscrisi in baza de date anterior acestei relansari a fost generat automat un cont ale carui date le primiti mai jos. Va veti putea modifica parola si datele inregistrate dupa ce va autentificati pe site.
%div{:style => "font-size:14px; text-indent:15px;"}	
	Platforma noua va permite vizualizarea - doar de catre alti absolventi - a numelui dumneavoastra, a promotiei si domeniului dumneavoastra de activitate, dar nu si a datelor de contact. In cadrul ei, veti putea fi contactati de catre alti absolventi doar electronic, prin mesaje scrise.
%div{:style => "font-size:14px; text-indent:15px;"}
	In cazul in care aveti intrebari sau nelamuriri, va stam la dispozitie la adresa CNER.Alumni@gmail.com.
%br
%br
%div{:style => "maring-top:25px; font-size:14px;"}
	Numai bine,
	%br
	echipa CNER Alumni

%br
%br
%br
%div{:style => "font-size:14px;"}
	Nume utilizator: 
	%br
	Parola:
%br
%div{:style => "font-size:12px;"}
	Va recomandam sa schimbati parola dupa autentificare si sa verificati datele personale

