<div class="text4"><center><b style="font-size:18px;">Program evenimente semestrul II <br/> 2010/2011</b></center></div>
<br />
<div class="text4">Absolventii Colegiului National “Emil Racovita” va invita la urmatoarele evenimente organizate in al doilea semestru al anului scolar 2010/2011:</div>
<div class="text4"><b style="font-size:12pt; font-variant:small-caps;">Ateliere tematice</b>,<br/><br/>
In perioada aprilie-iunie 2011, CNER Alumni organizeaza o serie de ateliere tematice deschise elevilor racovitisti
</div>

</div>
<br/><br/><br/>
<div class="text4"><center><b style="font-size:18px;">Program evenimente semestrul I <br/> 2010/2011</b></center></div>
<br />
<div class="text4">Absolventii Colegiului National “Emil Racovita” va invita la urmatoarele evenimente organizate in primul semestru al anului scolar 2010/2011:</div>
<div class="text4"><b style="font-size:12pt; font-variant:small-caps;">Intalnire studii in strainatate</b>, 13 septembrie 2010, ora 13:10 <br/><br/>
O discutie menita sa familiarizeze elevii cu procesul de aplicare la universitati straine (Statele Unite, Marea Britanie, Europa continentala), cu mediul universitar occidental si cu resursele ce le stau la dispozitie.</div>

<div class="text4"><b style="font-size:12pt; font-variant:small-caps;">Intalniri cu studenti ai facultatilor clujene</b><br/><br/>
Discutii informative despre oferta diferitelor facultati clujene aflate in topul preferintelor elevilor. Formatul intalnirilor este unul pro si contra, urmat de intrebari libere adresate studentilor sau absolventilor prezenti.
<ul>
<li><b style="text-indent:0px; font-size:10pt; font-variant:small-caps;">Medicina</b> 13 octombrie 2010, ora 13:10</li>
<li><b style="font-size:10pt; font-variant:small-caps;">Informatica (UBB), Calculatoare (UTCN)</b> 27 octombrie 2010, ora 13:10</li>
<li><b style="font-size:10pt; font-variant:small-caps;">Arhitectura (UTCN), Peisagistica(USAMV)</b> 10 noiembrie 2010, ora 13:10
<li><b style="font-size:10pt; font-variant:small-caps;">Stiinte economice, Management </b>24 noiembrie 2010, ora 13:10</li>
<li><b style="font-size:10pt; font-variant:small-caps;">Socio-umane (Istorie, Psihologie, Sociologie, Stiinte politice)</b><br/>&nbsp;&nbsp;&nbsp;&nbsp; 8 decembrie 2010, ora 13:10</li>
</ul>
</div>
