<div class="text4" style="margin-top: 80px;margin-bottom: 80px; padding: 30px 1em;">Cu idei, intrebari, sugestii, ne puteti scrie la adresa cner.alumni@gmail.com. <br/> 
CNER Alumni va avea in curand si un sediu, precum si un avizier, in cladirea CNER.</div>
