<div class="text4"><center><b style="font-size: 20px;text-shadow: 2px 2px 6px;">CNER Alumni</b> <br/><b style="font-size:18px;"><br/>O initiativa a absolventilor racovitisti</b></center></div>
<br />
<div class="text4">Cu ocazia implinirii a 90 de ani de invatamant romanesc la liceul nostru, a fost lansata o initiativa a absolventilor sai: CNER Alumni. Initiativa si-a propus ca scopuri principale o reapropriere a absolventilor fata de scoala, precum si cladirea de punti de comunicare si sprijin intre absolventi si actualii elevi ai liceului. </div>
<div class="text4">O serie de activitati desfasurate deja, sau aflate in curs de desfasurare, dovedesc atat dorinta de implicare a absolventilor, cat si realul interes al elevilor. Intre acestea, intalniri cu absolventi ai diferitelor facultati clujene de perspectiva pentru generatiile actuale de elevi, intalniri informative despre studiul in strainatate precum si mentoratul informal absolvent-elev. Mai multe despre programele noastre, precum si poze de la diferitele noastre evenimente, gasiti in sectiunile aferente.</div>
<div class="text4">Daca aveti o idee pe care ati vrea sa o implementati cu ajutorul CNER Alumni, va rugam contactati-ne si va vom sprijini. De asemenea, in cazul in care cunoasteti absolventi ce nu au auzit inca de noi, indreptati-i catre aceasta pagina.</div>


