=render "/shared/nav_proiecte"
%div.general_content{:style => "text-align:center;font-size: 18px;text-shadow: 2px 2px 6px;"}
  Intalniri facultati clujene
%div.general_content{:style => 'font-family: "book antiqua", serif;font-size: 10pt;'}
  Incepute in semestrul II al anului scolar 2009/2010, intalnirile despre studiul la facultatile clujene de interes pentru elevii racovitisti au o importanta practica palpabila pentru acestia. Actuali studenti sau absolventi ai unor specializari precum medicina, dreptul, informatica, stiintele economice sau studiile europene “demitizeaza” studiul la facultatile de profil din Cluj. 
%div.general_content{:style => 'font-family: "book antiqua", serif;font-size: 10pt;'}
  In cadrul unor discutii mai putin formale, absolventii CNER le povestesc celor interesati sa urmeze cursurile facultatilor respective despre motivatia lor, despre avantajele si dezavantajele urmarii studiilor la o facultate sau alta, dar si despre oportunitatile inainte de si mai ales de dupa absolvire. 
%div.general_content{:style => 'font-family: "book antiqua", serif;font-size: 10pt;'}
  Absolventii racovitisti de regula accepta sa ramana drept persoane de reper pentru mai tinerii lor colegi, fiind dispusi sa-i indrume pe cei din urma chiar si dupa incheierea intalnirilor propriu-zise.

  
  
