<div class="text4"><center><b>O retea de absolventi pentru un Racovita de viitor</b></center></div>
<br />
<div class="text4" style="text-indent:0px;">In perioada aprilie-iunie 2011, CNER Alumni organizeaza o serie de ateliere tematice deschise elevilor racovitisti. Atelierele vor fi urmatoarele:  
<br /><br />
<span style="font-weight:bold;margin-left:25px">- Scrierea unui CV si a unei scrisori de intentie</span>
<br />
<span style="font-weight:bold;margin-left:25px">- Scrierea de proiecte</span>
<br />
<span style="font-weight:bold;margin-left:25px">- Academic writing (workshop desfasurat in limba engleza)</span>
<br /><br />
<a href="http://alumni.e-racovita.ro/workshopreg">[detalii]</a>
</div>
<br />
<div class="text4">
<center><img src="http://www.e-racovita.ro/images/img/PosterZIEDR.jpg" style="height:800px;"/></center>
</div>
<br />
<div class="text4">Facilitarea colaborarii intre diferitele promotii</div>
<div class="text4">Un newsletter periodic cu:<br />
&nbsp;&nbsp;&nbsp;- noutati legate de liceu<br />
&nbsp;&nbsp;&nbsp;- comunicari ale conducerii liceului<br />
&nbsp;&nbsp;&nbsp;- anunturi ale intalnirilor absolventilor</div>
<div class="text4">Imbunatatirea comunicarii intre absolventi si liceu</div>

<div class="text4">Posibilitatea implicarii ca mentor al unui actual elev</div>
<div class="text4">Posibilitatea participarii la ateliere si intalniri intre absolventi si actuali liceeni in vederea impartasirii experientei post-Racovita </div>
<br/>
<div class="text4"><center><b>Instiintati-va colegii!</b></center></div>

