=render "/shared/nav_proiecte"
%div.general_content{:style => "text-align:center;font-size: 18px;text-shadow: 2px 2px 6px;"}
  Intalniri studiu in strainatate
%div.general_content{:style => 'font-family: "book antiqua", serif;font-size: 10pt;'}
  Desfasurate anual incepand cu 2004, intalnirile informative despre studiul in strainatate isi propun familiarizarea elevilor cu procesul de aplicare la facultati din Statele Unite, Marea Britanie, Italia, Elvetia etc., precum si cu diferentele dintre sistemul nostru de invatamant superior si cel din aceste tari.
%div.general_content{:style => 'font-family: "book antiqua", serif;font-size: 10pt;'}
  Discutiile sunt cu atat mai antrenante cu cat ele au loc cu participarea unor studenti/absolventi ai acestor universitati straine (spre exemplu, Harvard University, Duke University, University College London, University of Edinburgh, Università commerciale Luigi Bocconi si altele). Absolventii sunt deschisi la o comunicare continua cu elevii interesati de plecarea la studii in strainatate, de multe ori stabilind o relatie de mentorat cu acestia.
%div.general_content{:style => 'font-family: "book antiqua", serif;font-size: 10pt;'}
  Succesul anual al acestor intalniri este confirmat prin faptul ca elevi foarte buni continua sa fie admisi, de multe ori cu burse substantiale, la universitati straine de prim rang.
  
  
