=render "/shared/nav_proiecte"
%div.general_content{:style => "text-align:center;font-size: 18px;text-shadow: 2px 2px 6px;"}
  Mentorat
%div.general_content{:style => 'font-family: "book antiqua", serif;font-size: 10pt;'}
  In vederea stabilirii unor legaturi mai stranse intre actuali elevi si absolventi din toate generatiile, va propunem un program de mentorat prin intermediul caruia sa impartasiti din experienta voastra academica sau profesionala. In masura in care acceptati sa fiti contactati de elevi, sau chiar absolventi mai tineri, care cauta indrumare intr-un anumit domeniu, veti fi pusi in legatura, urmand sa ramana la latitudinea dumneavoastra cum sa evolueze relatia mentor-ucenic.
%div.general_content{:style => 'font-family: "book antiqua", serif;font-size: 10pt;'}
  In trecut, aceasta a insemnat sfaturi legate de procesul de aplicare la facultati in strainatate, raspunderea la intrebari cu privire la admiterea si oportunitatile la facultati clujene sau chiar discutii despre o profesie concreta. Functia de mentor se poate indeplini atat prin intalniri informale, cat si pur electronic sau prin telefon, in functie de preferinta mentorului.
  
  
