=render "/shared/nav_proiecte"
%div.general_content{:style => "text-align:center;font-size: 18px;text-shadow: 2px 2px 6px;"}
  Proiecte Viitoare
%div.general_content{:style => 'font-family: "book antiqua", serif;font-size: 10pt;'}
  CNER Alumni isi doreste nu doar continuarea, ci si extinderea initiativelor sale, precum si atragerea cat mai multor absolventi in randurile sale. Printre proiectele noastre pe termen mediu se numara imbunatatirea bazei de date electronice, producerea si distribuirea unei brosuri informative legata de CNER Alumni, precum si o serie de ateliere tematice, conduse de absolventi, cu scopul dezvoltarii unor competente practice (spre exemplu, scrierea de proiecte, construirea website-urilor, scrierea unui CV sau a unei scrisori de intentie etc.)
%div.general_content{:style => 'font-family: "book antiqua", serif;font-size: 10pt;'}
  Daca doriti sa dati o mana de ajutor sau aveti o idee pe care ati vrea sa o implementati cu colaborarea CNER Alumni, va rugam contactati-ne si va vom sprijini.  
