%div.usermenucontainer
  %div.usermenucontent
    =link_to "Intalniri facultati clujene", "/general/ifc"
  %div.usermenucontent
    =link_to "Intalniri studiu in strainatate", "/general/iss"
  %div.usermenucontent
    =link_to "Mentorat", "/general/mentorat"
  %div.usermenucontent
    =link_to "Proiecte viitoare", "/general/pv"
